{% extends 'base.html.twig' %}

{% block title %}
	{{ schoolYear.id ? 'Modifier' : 'Créer' }}
	Promotion
{% endblock %}

{% block body %}
	<div class="mx-auto mt-10 p-6">
		<h1 class="text-[#1F384C] text-[26px] font-medium">
			Promotion
			{{ schoolYear.getName() }}
		</h1>
	</div>
	{{ form_start(form) }}
	{{ form_end(form) }}
{% endblock %}
