{% extends 'base.html.twig' %}

{% block title %}Ajouter une période de cours{% endblock %}

{% block body %}
    <section class="w-full p-8 bg-white min-h-screen">
        
        <h1 class="text-[28px] font-bold text-[#1F384C] mb-8">
            Promotion {{ form.vars.value.schoolYearId.name|default('2025') }}
        </h1>

        {{ form_start(form, {'attr': {'class': 'w-full max-w-[800px] form-override'}}) }}

            {# --- 1. ANNÉE  --- #}
            <div class="mb-8 w-full">
                {% include 'composants/form_champ_select.html.twig' with {
                    'field': form.school_year_id,
                    'label': 'Année - champ obligatoire'
                } %}
            </div>

            {# --- 2. DATES --- #}
            <div class="flex flex-row w-full gap-6 mb-10">

                <div class="w-1/2 flex-1"> 
                    {% include 'composants/form_champ_date.html.twig' with {
                        'field': form.start_date,
                        'label': 'Date de début'
                    } %}
                </div>

                <div class="w-1/2 flex-1">
                    {% include 'composants/form_champ_date.html.twig' with {
                        'field': form.end_date,
                        'label': 'Date de fin'
                    } %}
                </div>
                
            </div>

            {# --- 3. ACTIONS --- #}
            <div class="flex flex-row items-center justify-start gap-6 mt-8 actions-override">
                <div>
                    {% include 'composants/button.html.twig' with {
                        'label': 'Retour à la liste',
                        'type': 'cancel', 
                        'url': path('app_course_period_new') 
                    } %}
                </div>

                <div>
                    {% include 'composants/button.html.twig' with {
                        'label': 'Enregistrer les informations',
                        'type': 'confirm'
                    } %}
                </div>
            </div>

        {{ form_end(form) }}

    </section>
{% endblock %}