{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block header %}{% endblock %}

{% block body %}

	<section class="max-w-md mx-auto">
		<h1>
			Bloc d'enseignement
		</h1>
	</section>

{% endblock %}
