{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block header %}{% endblock %}

{% block body %}

	<section class="max-w-7xl mx-auto">
		<div>
			<h1 class="font-medium text-[#1F384C] text-[26px]">
				Bloc d'enseignement
			</h1>
			<p class="font-medium font-[16px]">
				Ces blocs sont les piliers du programme. Étant donné qu’ils sont similaires chaque année, ils ne sont pas modifiables (on peut simplement faire varier le nombre d’heure et leur description).
			</p>
		</div>
	</section>

{% endblock %}
