<div id="modal-intervention" class="hidden fixed inset-0 z-50 flex items-center justify-center bg-black/50 backdrop-blur-sm p-4">
	<div class="bg-white rounded-[20px] p-8 w-full max-w-[700px] shadow-xl relative">

		<div class="flex items-start gap-5 mb-8">
			<div class="bg-[#F0F0F0] rounded-[12px] p-4 flex items-center justify-center w-[60px] h-[60px] shrink-0">
				<svg width="29" height="29" viewbox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M14.5 2V27M2 14.5H27" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
			</div>
			<div class="flex flex-col pt-1">
				<h1 class="text-[24px] font-bold text-[#1A1A1A]">Ajouter une intervention</h1>
				<p class="text-[#808080] text-[16px]">Remplissez les informations ci-dessous.</p>
			</div>
		</div>

		{{ form_start(formAdd) }}
		<div class="space-y-4">
			{% include "composants/form_champ_text.html.twig" with { 'label' : 'Titre', 'field' : formAdd.title } %}

			<div class="grid grid-cols-2 gap-4">
				{% include "composants/form_champ_date.html.twig" with { 'label': 'Date de début', 'field': formAdd.start_date } %}
				{% include "composants/form_champ_date.html.twig" with { 'label': 'Date de fin', 'field': formAdd.end_date } %}
			</div>

			<div class="grid grid-cols-2 gap-4">
				{% include "composants/form_champ_select.html.twig" with { 'label' : 'Module', 'field' : formAdd.module_id } %}
				{% include "composants/form_champ_select.html.twig" with { 'label' : "Type d'intervention", 'field' : formAdd.intervention_type_id } %}
			</div>

			{% include "composants/multi_select.html.twig" with { 'label': 'Intervenants', 'field' : formAdd.courseInstructors } %}

			{% include "composants/form_champ_switch.html.twig" with { 'label' : 'Intervention effectuée en visio', 'field' : formAdd.remotely } %}
		</div>

		<div class="flex items-center gap-4 mt-10">
			<button type="button" onclick="toggleModal()" class="flex-1 h-[44px] rounded-[8px] bg-[#F0F0F0] font-medium">Annuler</button>
			<button type="submit" class="flex-1 h-[44px] rounded-[8px] bg-[#2D4071] text-white font-medium">Confirmer</button>
		</div>
		{{ form_end(formAdd) }}
	</div>
</div>
