@import "tailwindcss";

body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

aside {
    font-family: 'Poppins', sans-serif;
}

#calendar {
    min-height: 650px;
    padding: 20px;
}