{% extends 'base.html.twig' %}

{% block title %}Formulaire d'intervention
{% endblock %}

{% block body %}
	<div class="max-w-5xl mx-auto mt-10 p-6">
		{{ form_start(form) }}

		{# Premier champ : Date de début #}
		{% include "composants/form_champ_date.html.twig" with {
                'field': form.start_date 
            } %}

		<div class="mt-4"></div>
		{# Espacement #}

		{# Deuxième champ : Date de fin #}
		{% include "composants/form_champ_date.html.twig" with {
                'label': 'Date de fin',
                'field': form.end_date
            } %}

		<button type="submit" class="mt-6 bg-purple-600 text-white px-4 py-2 rounded">
			Enregistrer
		</button>

		{{ form_end(form) }}
	</div>
{% endblock %}
