<div
	class="inline-flex items-center gap-3">
	{# Bouton JOUR #}
	<button type="button" data-period="timeGridDay" class="js-period-btn text-gray-700 text-base font-medium py-2 px-6 rounded-full transition-all">
		Jour
	</button>

	{# Bouton SEMAINE (Actif par défaut) #}
	<button type="button" data-period="timeGridWeek" class="js-period-btn bg-[#2E3B59] text-white shadow-sm text-base font-medium py-2 px-6 rounded-full transition-all">
		Semaine
	</button>

	{# Bouton MOIS #}
	<button type="button" data-period="dayGridMonth" class="js-period-btn text-gray-700 text-base font-medium py-2 px-6 rounded-full transition-all">
		Mois
	</button>
</div>
