{# templates/composants/sidebar_login.html.twig #}
<aside class="hidden md:flex flex-col h-screen bg-[#F3F4F8] w-[260px] sticky top-0 border-r border-gray-200 flex-shrink-0">
    
    <div class="flex items-center py-8 px-6">
        <img src="{{ asset('img/logo.png') }}" alt="Logo Lycée Saint-Vincent" class="w-[25px] h-[25px] object-contain">
        
        <div class="ml-3 flex flex-col justify-center">
            <h1 class="text-[14px] font-bold text-[#1F2D5C] leading-tight whitespace-nowrap">
                Lycée Saint-Vincent
            </h1>
            <p class="text-[10px] text-[#1F2D5C] font-semibold opacity-80 whitespace-nowrap">
                Enseignement Supérieur
            </p>
        </div>
    </div>

    <div class="flex-1"></div>

    <div class="p-6 text-[10px] text-[#A0ABC0] text-center leading-relaxed">
        © Lycée Saint-Vincent<br>
        Enseignement Supérieur
    </div>

</aside>