{# templates/composants/sidebar_login.html.twig #}
<div class="w-80 h-full bg-[#F5F6FA] border-r border-gray-100 p-8 flex flex-col justify-between hidden md:flex">
    <div class="w-48">
         <img src="{{ asset('images/logo_saint_vincent.png') }}" alt="Logo Saint-Vincent" class="w-full object-contain">
    </div>
    
    <div class="text-xs text-gray-400">
        © Lycée Saint-Vincent<br>
        Enseignement Supérieur
    </div>
</div>