{# 
    Fichier : templates/components/table.html.twig
    Paramètres :
    - headers : Liste des titres ['Nom', 'Statut', ...]
#}

<div class="w-full max-w-[1500px] overflow-x-auto rounded-lg border border-gray-200 shadow-sm bg-white mt-6">
	<table class="min-w-full text-left text-sm whitespace-nowrap">

		<thead class="bg-[#F9FAFB] font-semibold border-b border-gray-200">
			<tr class="h-[60px]">
				{% for header in headers %}
					<th scope="col" class="px-[25px] py-[20px] font-bold text-[#2C416E]">
						{{ header }}
					</th>
				{% endfor %}
			</tr>
		</thead>

		<tbody class="divide-y divide-gray-100 bg-white"> {% block body %}{% endblock %}
			</tbody>
		</table>
	</div>
